// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */
.errata_reports {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #6cba78;
  }

  .list_line_odd {
    background:   #6ca9ba;
  }

  .tag_line_even {
    background:   #F2A7A7;
  }

  .tag_line_odd {
    background:   #F2E277;
  }

  .green_text {
    color:   green;
  }
}
/* END_HIGHLIGHT */
